.line {
  margin:0;
  display:flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  box-sizing: border-box;
}

.line__last {
  box-sizing: border-box;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width:min-content;
}

.line__center {
  background-color: inherit;
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  align-items: center;
}